{% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}

<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
<head>
    <meta charset="utf-8" />
	<!-- http://t.co/dKP3o1e -->
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>
	{% if page.description %}
	<meta name="description" content="{{ page.description }}">
	{% else %}
	<meta name="description" content="{{ site.description }}">
	{% endif %}
	{% if page.keys %}
	<meta name="keywords" content="{{ page.keys | join: ', ' }}">
	{% else %}
	<meta name="keywords" content="Front-end, front-end, developer, html5, css3, javascript, sass, less">
	{% endif %}

	<!-- Twitter Cards -->
	{% if site.author.twitter %}
	{% if page.image.feature %}
	<meta name="twitter:card" content="summary_large_image">	
	<meta name="twitter:image" content="{{ site.url }}/assets/images/{{ page.image.feature }}">
	{% else %}
	<meta name="twitter:card" content="summary">
	<meta name="twitter:image" content="{% if page.image.thumb %}{{ site.url }}/assets/images/{{ page.image.thumb }}{% else %}{{ site.url }}/assets/images/{{ site.logo }}{% endif %}">
	{% endif %}
	<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
	{% if page.description %}
	<meta name="twitter:description" content="{{ page.description }}">
	{% else %}
	<meta name="twitter:description" content="{{ site.description }}">
	{% endif %}
	<meta name="twitter:creator" content="@{{ site.author.twitter }}">
	{% endif %}

	<!-- Open Graph -->
	<meta property="og:locale" content="en_US">
	<meta property="og:type" content="article">
	<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
	<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
	<meta property="og:url" content="{{ site.url }}{{ page.url }}">
	<meta property="og:site_name" content="{{ site.title }}">

	{% if site.google_verify %}<meta name="google-site-verification" content="{{ site.google_verify }}">{% endif %}

	{% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' | strip_slash }}{% endif %}{% endcapture %}
	<link rel="canonical" href="{{ canonical }}">
	<link href="{{ site.url }}/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">
	{% if site.author.google_plus %}<link rel="author" href="{{ site.author.google_plus }}?rel=author">{% endif %}

    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
    <link rel="stylesheet" href="{{ site.url }}/assets/stylesheets/style.css" media="screen,projection"/>
    <link rel="canonical" href="{{ page.url }}" />
    <script src="{{ site.url }}/assets/javascripts/modernizr-2.8.3-min.js"></script>
    <link href="{{ site.url }}/assets/images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon"/>
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.url }}/assets/images/apple-touch-icon-144x144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.url }}/assets/images/apple-touch-icon-114x114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.url }}/assets/images/apple-touch-icon-72x72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="{{ site.url }}/assets/images/apple-touch-icon-precomposed.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/default.min.css">
</head>
<body>
    <div class="preloader cyan container-fluid row" style="display: none;">
        <div class="white-text text-darken-4 xpretext"><h4>material</h4>
        </div>
        <div class="progress cyan lighten-2 xpreloading">
            <div class="indeterminate cyan darken-3"></div>
        </div>
    </div>
    <nav class="blue-grey darken-2 waves-effect waves-light" role="navigation">
        <div class="nav-wrapper container">
            <ul class="nav-center hide-on-med-and-down light">
                <li {% if page.url == '/' %}class="active" {% endif %}><a href="/">Home</a></li>
                <li {% if page.url == '/about/' %}class="active" {% endif %}><a href="/about/">About</a></li>
                <li {% if page.url == '/projects/' %}class="active" {% endif %}><a href="/projects/">Projects</a></li>
                <li {% if page.url == '/blog/' %}class="active" {% endif %}><a href="/blog/">Articles</a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a href="#">Navbar Link</a></li>
                <li><a href="#">Navbar Link</a></li>
                <li><a href="#">Navbar Link</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
